@import url('../css/fonts.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Roboto,cursive;
}
header{
    position: fixed;
    height: 20vh;
    width: 100%;
    box-shadow: 0 6px 20px black;
    transition: .3s;
    z-index: 2;
    color: white;
}
.logo-container{
    height: 100%;
    width: 100%;
}
.logo-container img{
    height: 60%; 
}
#logo{
    font-size: 1.5rem;
    margin:1rem;
}
main{
    margin-left: 5rem;
}
/*---------global classes---------*/
.flex-row{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.centralize-childs{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #eee;
}
input,textarea,button{
    border: none;
    outline: none;
}
::-webkit-scrollbar{
	width: 5px;
}
::-webkit-scrollbar-track
{
	background-color: transparent;
}
::-webkit-scrollbar-thumb
{
	background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb:hover
{
	background-color: #555;
}

::-moz-scrollbar{
	width: 5px;
}
::-moz-scrollbar-track
{
	background-color: transparent;
}
::-moz-scrollbar-thumb
{
	background-color: #f1f1f1;
}
::-moz-scrollbar-thumb:hover
{
	background-color: #555;
}

/*--------------------body-------------------*/

/*---------------navigation-------------------*/
.nav{
    position: fixed;
    height: 100vh;
    width: 5rem;
    background-color: black;
    z-index: 3;
    transition: .5s;
}
.link{
    display: inline-block;
    margin: 2rem;
    color: white;
    font-size: 1.5rem;
}
.nav:hover{
   width: 15rem;
}
/*------x---------navigation------------x-------*/

.intro{
    position: relative;
    height: 100vh;
    background-image: url('/assets/home/petri-r-gehzL37x6zY-unsplash.jpg');
    background-size: cover; 
    background-attachment: fixed;
    border-radius: 0% 10% 81% 9% / 10% 0% 61% 0%  ;
}
.title-container{
    height: 100%;
    width: 45%;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.title{
    padding: 0 2rem;
    border-left:2px solid #372F76;
}
.title h2{
    font-size: 3rem;
    margin: 1rem 0;
    color: #C52E66;
}
.title h1{
    font-size: 6rem;
    color: white;
}
.title p{
    font-size: 1.5rem;
    color: #eeeeee;
}
.hero-link{
    display: inline-block;
    padding: 1rem;
    background-color: #372F76;
    margin: 1rem 1rem 0 0;
}
.hero-link:nth-of-type(2){
    background-color: transparent;
    border: 2px solid #372F76 ;
}
.device-imgs-container{
    height: 100%;
    width: 45%;
    margin: auto;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0,0,0,.1); */
    border: 5rem solid  rgba(0,0,0,.1);
    border-radius: 0% 4% 48% 52% / 44% 12% 41% 25%  ;
}
.device-imgs-container > img{
    position: absolute;
    height: 100%;
    animation: float 6s ease-in-out infinite;
}


/*-----------------------footer------------------------*/
.footer{
    padding: 3rem 0;
    background-color: #5C6BC0;
}
.follow-me,.copyright{
    padding: 3rem 0;
    text-align: center;
}
/*-----------X------------footer------------X------------*/





@media only screen and (max-width:768px) {
    header{
        height: 15vh;
    }
    main{
        margin:0 0 10vh 0;
    }
    .brand-name,.nav,.social{
        height: 8vh;
        overflow: hidden;
    }
    header,.links{
        flex-direction: column;
    }
    .menu-btn{
        display: initial;
    }
    .brand-name img{
        margin: auto 1rem;
    }
    .nav{
        position: fixed;
        left: 0;
        bottom: 0;
        height: 10vh;
        width:100%;
        background-color: black;
        z-index: 3;
        transition: .5s;
    }
    .nav ul{
        flex-direction: row;
    }
    .link{
        display: inline;
        margin: 2rem;
        color: white;
        font-size: 1.5rem;
    }
    .nav:hover{
        height: 13vh;
        width:100%;
    }
    .social{
        height: auto;
        justify-content: start;
    } 
    .social-link{
        margin:1rem;
        font-size: 1rem;
    }
    .intro{
        flex-direction: column;
        background-position: center;
    }
    .title-container,.device-imgs-container{
        margin-top: 15vh;
        width: 100%;
        height:40vh;
    }
    .title h1{
        font-size: 2rem;
    }
    .title h2{
        font-size: 1.5rem;
        margin: .5rem 0;
    }
    .title p{
        font-size: 1rem;
    }
    .device-imgs-container{
        margin: auto;
    }
    .device-imgs-container > img{
        position: absolute;
        height: 50%;
        animation: float 6s ease-in-out infinite;
    }
    .footer{
        padding: 1.5rem 0;
    }
    .follow-me,.copyright{
        padding: 1.5rem 0;
    }
}